# Исключение папки виртуального окружения
venv/

# Исключение файлов конфигурации среды
.env

# Исключение файлов базы данных SQLite
*.sqlite3

# Исключение файлов миграций
*/migrations/*
__pycache__/

# Исключение файлов настроек редактора и системы
*.pyc
.DS_Store
.idea/
.vscode/
